@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.Vertical {
    text-align: center;
    align-self: center;
    align-items: center;
    width: 500px;
    max-width: 100%;
}

.bigContainer {
    background-color: #2E293D;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.subContainer {
    background-color: #645986;
    align-self: center;
    height:85%;
    width:90%;
}